p{
  position: absolute;
  top:90%;
  left:40%;
  transform:translate(-50% -50%);
}

ul{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    display: flex;
}

ul li{
    list-style:none;
    margin: 0 40px;
}

ul li a svg{
    font-size: 40px;
    color:#262626;
    line-height:70px;
    transition:.5s;
    position: relative;
    top: 20px;
}

ul li a{
    position: relative;
    display:block;
    width:80px;
    height:80px;
    background:#fff;
    text-align: center;
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(0,0);
    transition:.5s;
    box-shadow:-20px 20px 10px rgba(0,0,0,.5);
}

ul li a:before{
    content: '';
    position: absolute;
    top:10px;
    left:-20px;
    height:100%;
    width: 20px;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewY(-45deg);
}

ul li a:after{
    content: '';
    position: absolute;
    bottom:-20px;
    left:-10px;
    height:20px;
    width: 100%;
    background: #b1b1b1;
    transition: .5s;
    transform: rotate(0deg) skewX(-45deg);
}

ul li a:hover{
    transform: perspective(100px) rotate(-30deg) skew(25deg) translate(20px,-20px);
    box-shadow:-50px 50px 50px rgba(0,0,0,.5);
}

ul li:hover .fab{
    color:#fff;
}

ul li:hover:nth-child(1) a {
    background:#3b5999;
}
ul li:hover:nth-child(1) a:before {
    background:#2e4a86;
}
ul li:hover:nth-child(1) a:after {
    background:#4a69ad;
}

ul li:hover:nth-child(2) a {
    background:#00000075;
}
ul li:hover:nth-child(2) a:before {
    background:#000000c0;
}
ul li:hover:nth-child(2) a:after {
    background:#1816167f;
}

ul li:hover:nth-child(3) a {
    background:#ff21aa;
}
ul li:hover:nth-child(3) a:before {
    background:#b01876;
}
ul li:hover:nth-child(3) a:after {
    background:#e81e9be1;
} 

.background {
    background: linear-gradient(-45deg, #ffffff, #adacad, #3d3d3d, #000000);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 92.3vh;
    overflow: hidden;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
@media (max-width: 768px) {
    p {
      font-size: 14px; /* Adjust font size for smaller screens */
    }
  
    ul {
      top: 5%;
    }
  
    ul li {
      margin: 0 5px; /* Adjust margin for smaller screens */
    }
  
    ul li a svg {
      font-size: 20px; /* Adjust font size for smaller screens */
    }
  
    ul li a {
      width: 30px; /* Adjust width for smaller screens */
      height: 30px; /* Adjust height for smaller screens */
      transform: perspective(50px) rotate(-30deg) skew(20deg) translate(0, 0);
      box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.5);
    }
}