<div class="container">
    <h1 class="heading">Video Gallery</h1>

    <div class="gallery">

        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/car videos/1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/car videos/2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/car videos/3.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

</div>
