<div class="container">
    <h1 class="heading">Visual Gallery</h1>

    <div class="gallery">

        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/car videos/1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>

        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/car videos/2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/football videos/jamesWC.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/football videos/messilfc.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/football videos/ronaldo1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/viral videos/waltersubs1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/viral videos/elonsubs1.1mp4.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/viral videos/mrbeastsubs1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/viral videos/tatesubs7.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/viral videos/tatesubs6.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/viral videos/tate3subs.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/viral videos/tatesubs4.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/viral videos/tatesubs5.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/viral videos/tatesubs2.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/viral videos/tatesubs.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
        <div class="gallery-item">
            <video class="gallery-video" controls>
                <source src="/assets/videos/viral videos/tristansubs1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
        </div>
    </div>

</div>
