<body>
<div id="title" class="slide header">
    <h1>Allow me to introduce you to the world of creativity from a unique perspective.</h1>
  </div>
  
  <div id="slide1" class="slide">
    <div class="title">
      <h1 class="main">Video Editing</h1>
      <p>As a video editor, I find my canvas in the frame-by-frame world of motion. My craft is all about turning raw footage into captivating stories that resonate with your emotions. Every cut, every transition, and every effect is a deliberate choice to capture your imagination.</p>
    </div>
  </div>
  
  <div id="slide2" class="slide">
    <div class="title">
      <h1 class="main">Developing</h1>
      <p> Code craftsman, sculpting digital dreams. From video editing to web development, I weave lines of logic into the vibrant tapestry of the digital realm.</p>
    </div>

  </div>
  <div id="slide4" class="slide header">
      <h1>Fueled by passion and persistence.</h1>
  </div>
</body>